body
{
    /* background-color: rgb(251, 251, 250); */
    background-color: rgb(237, 231, 210);
    margin:0;
}

#header
{
    
    height:180px;
    width:100%;
    top:0px;
    left:0px;
    right:0px;
    /* border:1px solid burlywood; */
   
    background-color: white;
    
   
   

}

#search
{
    position:relative;
    left:40px;
    top:70px;
    width:250px;
    height:40px;
    text-indent: 30px;
    font-size: larger;
    
   
}
#search:focus
{
    background-color: rgb(237, 231, 210);
}
#searchimage
{
    position: absolute;
    left:50px;
    top:80px;
}

#headingone
{
    position:absolute;
    left:370px;
    top:58px;
    font-style: normal;
    font-weight: 500;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

@font-face
{
    font-family: ShadowsIntoLight-Regular;
    src:url(../font/Shadows_Into_Light/ShadowsIntoLight-Regular.ttf);
}
@font-face
{
    font-family: yatraone;
    src:url(../font/YatraOne-Regular.ttf)
}
@font-face
{
    font-family: cinzel;
    src:url(../font/Cinzel-VariableFont_wght.ttf);
}


#headingtwo
{
 
    /* text-align: center; */
    position:absolute;
    left:650px;
    top:-50px;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    font-family:ShadowsIntoLight-Regular;
    font-style: italic;
}
#instagramimage
{
    position: absolute;
    left:1190px;
    top:90px;
}
#twitterimage
{
    position: absolute;
    left:1230px;
    top:90px;
}
#facebookimage
{
    position: absolute;
    left:1270px;
    top:90px;
}
#youtubeimage
{
    position: absolute;
    left:1310px;
    top:90px;
}

#cartimage
{
    position: absolute;
    left:1380px;
    top:90px;
}

#userimage
{
    position: absolute;
    left:1450px;
    top:90px;
} 

#view
{
    position:absolute;
    width:1100px;
    height:1000px;
    background-color: rgb(244, 239, 239);
    left:220px;
    display: inline-block;

}
#dresstwo{
    position: relative;
    top:170px;
    left:140px;
    width:300px;
    height:300px;
    transform: scale(var(--zoom,1));
    transform-origin: var(--x) var(--y);
    transition: transform 0.3s ease;
    /* -o-object-fit: cover; */
    /* transform: translateY(-50%); */
}
#dresstwo:hover
{
    --zoom: 2;
}
#headingthree
{
    display:block;
    position :absolute;
  top:100px;
    left:600px;
    font-family: yatraone;
    font-weight: 100;


}
#paraone
{
    display:block;
    position:absolute;
    top:130px;
    left:600px;
    font-family: yatraone;
    font-weight: 100;
    font-size: 25px;
}
#headingfour
{
    display:block;
    position :absolute;
  top:180px;
    left:600px;
    font-family: yatraone;
    font-weight: 100;


}
#viewone
{
    position:relative;
    width:400px;
    height:300px;
    background-color: rgb(244, 239, 239);
    /* background-color: rgb(244, 244, 244); */
    left:820px;
    top:240px;
    display: inline-block;
   

}
 #paratwo
{
    display:inline;
    position:relative;
    /* top:170px;
    left:580px; */
    font-family: yatraone;
    font-weight: 100;
    font-size: 25px;
} 
#information
{
    display:inline-block;
    position:relative;
    height:100px;
    width: 400px;
    left:417px;
    top:290px;
    background-color: rgb(244, 239, 239);
}

#count
{
    display: inline;
    height:40px;
    width:60px;
    background-color: rgb(237, 231, 210);
    border:0.1px solid black;
}
#headingfive
{
    display: inline;
    position:relative;
    left:100px;
    top:10px;
    border:1px solid black;
    width:100px;
    height:50px;
    padding:15px;
    font-family: cinzel;
}
#headingfive:hover{
background-color: rgb(5, 5, 5); 
color: white;   
}
.card-img-top
{
    width:200px;
    height: 300px;

}
.col-lg-3
{
    display: flex;
}
.row
{
    display: flex;

}

#maincart
{
    width:1140px;
    height:500px;
    background-color: rgb(251, 249, 241);
    position:relative;
    left:200px;
    top:35px;

    /* border:1px solid black; */
}

